.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid orange;
}

.logo {
  width: 150px;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.search {
  margin: 10px;
}

.card-conatiner {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  width: 200px;
  background-color: #f0f0f0;
  padding: 5px;
  margin: 20px;
}

.card-item:hover {
  border: 1px solid black;
  cursor: pointer;
}

.card-img {
  width: 100%;
  height: 200px;
  /* background-image: cover; */
}

.cuisine {
  
  font-size: 12px;
}

.filter-btn {
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.search {
  margin: 10px;
}